<form asp-action="RecuperarSenha" asp-controller="CadastroHelpDesk">
    <h1>Recuperação de senha</h1><br />

    <input type="text" placeholder="Digite seu E-mail" id="inputEmailRecuperacao" />

    <a role="button" class="btn btn-outline-success btnVerificar">Recuperar</a>
</form>

<div class="modal" id="ModalRecuperacaoSenha" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Verificar Codigo</h1>
            </div>
            <div class="modal-body">
                <div id="Verificacao">
                    <form asp-action="RecuperarSenha" asp-controller="CadastroHelpDesk" method="post">
                        <h1>Verifique o seu email</h1><br />

                        <input type="text" placeholder="Digite o código" id="inputCodigo" />
                        <br />
                        <a role="button" class="btn btn-outline-success " id="btnVerificar">Verificar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
