@model HD_SUPPORT.Models.CadastroHelpDesk

@{
    ViewData["Title"] = "Index";
}

<h1>Cadastro</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Cadastrar" method="post" enctype="multipart/form-data" id="FormCadastro">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" id="EmailInput" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto" class="control-label"></label>
                <input asp-for="Foto" class="form-control" name="Imagem" id="Imagem" type="file" />
                <span asp-validation-for="Foto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a role="button" class="BtnVerificacao btn btn-outline-info">Criar</a>
            </div>
        </form>
    </div>
</div>

<div class="modal" id="ModalVerificacao" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Verificar Codigo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="Verificacao">
                    <form asp-action="VerificacaoEmail" asp-controller="CadastroHelpDesk" method="post">
                        <h1>Verifique o seu email</h1><br />

                        <input type="text" placeholder="Digite o código" id="inputCodigo" />

                        <a role="button" class="btn btn-outline-success " id="btnVerificar">Verificar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalSucesso" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sucesso :)</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="Modelsucesso">
                    Cadastro Criado com Sucesso!
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalErro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Erro :(</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="Modelsucesso">
                    Codigo vazio ou invalido, tente novamente
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/jquery.inputmask.js"></script>
    <script>
        $(document).ready(function () {

            $('.BtnVerificacao').click(function () {

                console.log("btn clicado");
                var email = $('#EmailInput').val();
                window.emailTemporario = email;
                enviarEmail();
            });

            $('#btnVerificar').click(function () {
                event.preventDefault();
                var codigo = $('#ModalVerificacao #inputCodigo').val();
                window.codigoInput = codigo;
                console.log('Código de verificação: ', codigo);
                submeterFormulario();
            });

            function submeterFormulario() {
                var codigoInput = window.codigoInput;
                console.log('Dados do formulário:', $('#FormCadastro').serialize());

                $.ajax({
                    type: 'POST',
                    url: '/CadastroHelpDesk/VerificacaoEmail',
                    data: { codigoVerificacao: codigoInput },
                    success: function (result) {
                        console.log('VerificacaoCodigo sucesso');
                        if (result.success) {
                            document.getElementById('FormCadastro').submit();
                            console.log('FormEnviado sucesso');
                            $('#ModalVerificacao').modal('hide')
                            $('#modalSucesso').modal(`show`);

                        } else {
                            console.log('Código de verificação incorreto');
                            $('#ModalVerificacao').modal('hide')
                            $('#modalErro').modal(`show`);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error('VerificacaoCodigo error:', textStatus, errorThrown);
                    }
                });
            }

            function enviarEmail() {
                var emailTemporario = window.emailTemporario;
                $.ajax({
                    type: 'POST',
                    url: '/CadastroHelpDesk/EnviarEmail',
                    data: {email: emailTemporario},
                    success: function (result) {
                        console.log('EnviarEmail success:', result);
                        $('#ModalVerificacao').modal('show');
                    },
                    error: function () {
                        console.error('VerificacaoEmail error');
                        }
                });
            }
        });

    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}