@model HD_SUPPORT.Models.CadastroHelpDesk

@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="~/css/Cadastro.css">
    <link rel="stylesheet" href="~/css/video.css">
</head>
<body>
    <div class="content-stars">
        <video src="~/images/pexels_videos_2792967 (1440p).mp4" autoplay loop muted></video>
    </div>
    <div class="container">
        <div class="content-login">
            <div class="content-left">
                <div class="content-form-primary">
                    <div class="form-content">
                        <div class="text-content">
                            <h1>Criar Conta!</h1>
                            <p>Insira suas informações de usuário</p>
                        </div>
                        <form asp-action="Cadastrar" id="FormCadastro" method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input hidden name="verificado" id="verificado" value="False" />
                            <input hidden name="img_verificado" value="@ViewData["imagem"]" />

                            <label asp-for="Nome" class="control-label"></label>
                            <input asp-for="Nome" class="form-control" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                            <br>
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" id="EmailInput" placeholder="email@employer.com.br" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                            <br />
                            <label asp-for="Senha" class="control-label"></label>
                            <input asp-for="Senha" class="form-control" />
                            <span asp-validation-for="Senha" class="text-danger"></span>
                            <br />

                            <select name="funcao" id="categorias">
                                <option value="HelpDesk">
                                    Help-Desk
                                </option>
                                <option value="RH">
                                    RH
                                </option>
                            </select>
                            <br />
                            <label asp-for="Foto" id="foto-label" class="foto-label"></label>
                            <input class="foto" asp-for="Foto" name="Imagem" id="Imagem" type="file" />
                            <span asp-validation-for="Foto" class="text-danger"></span>
                            <br />

                            <div class="position-button">

                                <button class="btn-login" id="btn-login" type="submit">Criar Conta</button>

                                <a asp-action="Login" id="conta" asp-controller="CadastroHelpDesk">Ja possui conta?</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="content-right">
                <img src="~/images/image 11.png" alt="">
            </div>
        </div>
    </div>




    <div class="modal" id="ModalVerificacao" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="ModalVerificacaoCadastro">
                        <form asp-action="VerificacaoEmail" id="verificar" asp-controller="CadastroHelpDesk" method="post">
                            <img src="~/images/gmail.png" height="50px" />
                            <h1>Verifique o seu email</h1>
                            <p>Vefifique o código em sua caixa de mensagens</p>

                            <input type="text" placeholder="Digite o código" id="inputCodigo" />
                            
                            <a role="button" class="btn" id="btnVerificar">Verificar</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalSucesso" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sucesso :)</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="Modelsucesso">
                        Cadastro Criado com Sucesso!
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalErro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Erro :(</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="Modelsucesso">
                        Codigo vazio ou invalido, tente novamente
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    <script src="~/js/jquery.inputmask.js"></script>
    <script>
        $(document).ready(function () {

            if ('@TempData["podeverificar"]' == "pode") {
                var email = $('#EmailInput').val();
                window.emailTemporario = email;
                enviarEmail();
            }
            $('#ModalVerificacao').modal({
                keyboard: false,
                backdrop: 'static'
            });
            $('#btnVerificar').click(function () {
                event.preventDefault();
                var codigo = $('#ModalVerificacao #inputCodigo').val();
                window.codigoInput = codigo;
                console.log('Código de verificação: ', codigo);
                submeterFormulario();
            });

            function submeterFormulario() {
                var codigoInput = window.codigoInput;
                console.log('Dados do formulário:', $('#FormCadastro').serialize());

                $.ajax({
                    type: 'POST',
                    url: '/CadastroHelpDesk/VerificacaoEmail',
                    data: { codigoVerificacao: codigoInput },
                    success: function (result) {
                        console.log('VerificacaoCodigo sucesso');
                        if (result.success) {
                            $('#verificado').val("True");
                            document.getElementById('FormCadastro').submit();
                            console.log('FormEnviado sucesso');
                            $('#ModalVerificacao').modal('hide')
                            $('#modalSucesso').modal(`show`);

                        } else {
                            console.log('Código de verificação incorreto');
                            $('#ModalVerificacao').modal('hide')
                            $('#modalErro').modal(`show`);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error('VerificacaoCodigo error:', textStatus, errorThrown);
                    }
                });
            }

            function enviarEmail() {
                var emailTemporario = window.emailTemporario;
                $.ajax({
                    type: 'POST',
                    url: '/CadastroHelpDesk/EnviarEmail',
                    data: { email: emailTemporario },
                    success: function (result) {
                        console.log('EnviarEmail success:', result);
                        $('#ModalVerificacao').modal('show');
                    },
                    error: function () {
                        console.error('VerificacaoEmail error');
                    }
                });
            }
        });

    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}