@model HD_SUPPORT.Models.CadastroHelpDesk

@{
    ViewData["Title"] = "Login";
}
<div class="text-center">

    <div class="ContainerHome">
        <div class="content-text-geral">
            <div class="content-text-hd">
                <h1>Help Desk</h1>
                <h2>Support</h2>
            </div>
            <div class="card-text-aprendiz">
                <p>Primeira aplicação desenvolvida por aprendizes!</p>
            </div>
        </div>
        <div class="forms-home">

            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="position-form">                 
                    <div class="bar-style"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label">Usuario</label>
                        <input asp-for="Email" class="form-control" placeholder="Insira seu Usuário" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Senha" class="control-label">Senha</label>
                        <input asp-for="Senha" class="form-control" type="password" placeholder="Insira sua senha" />
                        <span asp-validation-for="Senha" class="text-danger"></span>
                    </div>
                    <a asp-controller="CadastroFunc" asp-action="NovoCadastro">Sou Funcionario</a>
                    <br />
                    <div class="form-group">
                        <button class="button-style" type="submit">Login</button>
                    </div>
                </div> 
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
