@model HD_SUPPORT.Models.CadastroHelpDesk

@{
    ViewData["Title"] = "Login";
}



@section Header {

}

<head>

    <link rel="stylesheet" href="~/css/PaginaLogin.css" />
</head>

<div class="container">
    <div class="content-login">
        <div class="content-left">
            <div class="content-form-primary">
                <div class="form-content">
                    <div class="text-content">
                        <h1>Bem-Vindo!</h1>
                        <p>Insira suas informações de login</p>
                    </div>
                    <form asp-action="Login" id="loginForm">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <label asp-for="Email" class="control-label">Usuario</label>
                        <input id="email" type="text" asp-for="Email" class="form-control">
                        <span asp-validation-for="Email" class="text-danger"></span>

                        <br />
                        <label asp-for="Senha" id="senha_label" class="control-label">Senha</label>
                        <input asp-for="Senha" class="form-control" type="password" id="senha" />
                        <span asp-validation-for="Senha" class="text-danger"></span>

                        <div class="position-button">
                            <div class="funcionario-link">
                                <a role="button" asp-controller="CadastroHelpDesk" asp-action="Cadastrar">Sou da equipe Help Desk</a>
                            </div>

                            <button id="loginButton" type="submit">Login</button>

                            <div class="btn-funcionario">
                                <a role="button" id="NovoCadastro">Sou Funcionario</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="content-right">
            <img src="~/images/0a1cc76ab63a4c573c934e56b674f6f9.gif" alt="">
        </div>
    </div>
</div>
<div class="modal fade" id="NovoCadastroFuncModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Cadastrar - se</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="ModalNovoCadastro">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModelErro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Erro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="ModelErro">
                    <p>@TempData["ErroAtualizacao"]</p>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/jquery.inputmask.js"></script>
    <script>

        $(document).ready(function () {
            

            var erroAtualizacao = "@TempData["ErroAtualizacao"]";
            if (erroAtualizacao) {
                setTimeout(function () {
                    $('#ModelErro').modal('show');
                }, 100);
            }

            $('#NovoCadastro').click(function () {
                abrirModalNovoCadastro();
            });

            function abrirModalNovoCadastro() {
                $.ajax({
                    type: 'GET',
                    url: '/CadastroFunc/NovoCadastro',
                    success: function (result) {
                        $("#ModalNovoCadastro").html(result);
                        $('#NovoCadastroFuncModal').modal('show');
                        $(".telefone").inputmask('(99) 99999-9999');
                    }
                });
            }
        });
    </script>
}


@Html.Raw(TempData["msg"])
