@model HD_SUPPORT.Models.CadastroHelpDesk

@{
    ViewData["Title"] = "Login";
}



@section Header {

}

<head>
    <link rel="stylesheet" href="~/css/video.css" />
    <link rel="stylesheet" href="~/css/PaginaLogin.css" />
</head>
<div class="content-stars">
    <video src="~/images/pexels_videos_2792967 (1440p).mp4" autoplay loop muted></video>
</div>
<div class="container">
    <div class="content-login">
        <div class="content-left">
            <div class="content-form-primary">
                <div class="form-content">
                    <div class="text-content">
                        <h1>Bem-Vindo!</h1>
                        <p>Insira suas informações de login</p>
                    </div>
                    <form asp-action="Login" id="loginForm">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <label asp-for="Email" class="control-label">Usuario</label>
                        <input id="email" type="text" asp-for="Email" class="form-control">
                        <span asp-validation-for="Email" class="text-danger"></span>

                        <br />
                        <label asp-for="Senha" id="senha_label" class="control-label">Senha</label>
                        <input asp-for="Senha" class="form-control" type="password" id="senha" />
                        <span asp-validation-for="Senha" class="text-danger"></span>

                        <div class="position-button">
                            <div class="funcionario-link">
                                <a role="button" asp-controller="CadastroHelpDesk" asp-action="Cadastrar">Sou da equipe Help Desk</a>
                            </div>

                            <button id="loginButton" type="submit">Login</button>

                            <div class="btn-funcionario">
                                <a role="button" asp-action="NovoCadastroLogin" asp-controller="CadastroFunc">Sou Funcionario</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="content-right">
            <img src="~/images/0a1cc76ab63a4c573c934e56b674f6f9.gif" alt="">
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/jquery.inputmask.js"></script>
}


@Html.Raw(TempData["msg"])


