################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/HD-SUPPORT/FileContentIndex/5915c465-6298-4fc1-a6af-1d5b7bb60ebb.vsidx
/.vs/HD-SUPPORT/FileContentIndex/706cb87f-ea45-4cad-b63e-1263bfa72bc6.vsidx
/.vs/HD-SUPPORT/FileContentIndex
