@model HD_SUPPORT.Models.CadastroEquip
@inject IHttpContextAccessor Acessor
 
@{
    ViewData["Title"] = "Edit";
}

<div class="modal fade" id="@("EditarEquipModal"+Model.Id.ToString())" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar partrimonio @Model.IdPatrimonio</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="Atualizar">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Disponivel" />
                    <input type="hidden" asp-for="profissional_HD" value="@Acessor.HttpContext.Session.GetString("profissional") - @Acessor.HttpContext.Session.GetString("nome")" />
                    <div class="form-group">
                        <label asp-for="IdPatrimonio" class="control-label">Id do patrimônio</label>
                        <input asp-for="IdPatrimonio" class="form-control" />
                        <span asp-validation-for="IdPatrimonio" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Modelo" class="control-label"></label>
                        <input asp-for="Modelo" class="form-control" />
                        <span asp-validation-for="Modelo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Processador" class="control-label"></label>
                        <input asp-for="Processador" class="form-control" />
                        <span asp-validation-for="Processador" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SistemaOperacionar" class="control-label">Sistema operacional</label>
                        <input asp-for="SistemaOperacionar" class="form-control" />
                        <span asp-validation-for="SistemaOperacionar" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HeadSet" class="control-label"></label>
                        <input asp-for="HeadSet" class="form-control" />
                        <span asp-validation-for="HeadSet" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>