@model HD_SUPPORT.Models.CadastroEquip
 
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CadastroUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Atualizar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Disponivel" />
            <div class="form-group">
                <label asp-for="IdPatrimonio" class="control-label">Id do patrimônio</label>
                <input asp-for="IdPatrimonio" class="form-control" />
                <span asp-validation-for="IdPatrimonio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Processador" class="control-label"></label>
                <input asp-for="Processador" class="form-control" />
                <span asp-validation-for="Processador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SistemaOperacionar" class="control-label">Sistema operacional</label>
                <input asp-for="SistemaOperacionar" class="form-control" />
                <span asp-validation-for="SistemaOperacionar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeadSet" class="control-label"></label>
                <input asp-for="HeadSet" class="form-control" />
                <span asp-validation-for="HeadSet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DtEmeprestimoInicio" class="control-label">Data de inicio de empréstimo</label>
                <input asp-for="DtEmeprestimoInicio" class="form-control" />
                <span asp-validation-for="DtEmeprestimoInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DtEmeprestimoFinal" class="control-label">Data de final de empréstimo</label>
                <input asp-for="DtEmeprestimoFinal" class="form-control" />
                <span asp-validation-for="DtEmeprestimoFinal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>