
@{
    ViewData["Title"] = "Home Page";
}

    <head>
        <link rel="stylesheet" href="~/css/home.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Loading</title>
    </head>
    <body>
        <header>
            <h1 style="font-weight: 700; font-family: Arial, Helvetica, sans-serif;">employer</h1>
            <h1 style="font-weight: 100;">|</h1>
            <h1>Help <span style="color: #004aad;">Desk</span></h1>
        </header>
        <div class="content-stars">
            <video src="~/images/pexels_videos_2792967 (1440p).mp4"autoplay></video>
        </div>
        <div class="content-home">
            <div class="content-text">
                <h1>INOVADOR,<br></h1>
                <h1 class="animate-charcter">TECNOLÓGICO</h1>
                <h1>&<br></h1>
                <h1 id="seguro">SEGURO</h1>
            </div>
            <div class="content-planet">
            <img src="~/images/_b49925be-4825-4df9-88d2-b863d9ed5efe-removebg-preview.png" alt="">
            </div>
        </div>
        <div class="box">
            <button class="button">Entrar</button>
            <div class="space">
                <span style="--i: 31" class="star"></span>
                <span style="--i: 12" class="star"></span>
                <span style="--i: 57" class="star"></span>
                <span style="--i: 93" class="star"></span>
                <span style="--i: 23" class="star"></span>
                <span style="--i: 70" class="star"></span>
                <span style="--i: 6" class="star"></span>
            </div>
        </div>
    </body>
