@model HD_SUPPORT.Models.EmprestimoViewModel
@inject IHttpContextAccessor Acessor

@{
    ViewData["Title"] = "Novo Emprestimo";
}

                <form asp-action="NovoEmprestimo">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="profissional_HD" value="@Acessor.HttpContext.Session.GetString("profissional") - @Acessor.HttpContext.Session.GetString("emailTodo")" />
                    <div class="form-group">
                        <label asp-for="Equipamento.IdPatrimonio" class="control-label">Id do patrimônio</label>
                        <input asp-for="Equipamento.IdPatrimonio" class="form-control" />
                        <span asp-validation-for="Equipamento.IdPatrimonio" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Funcionario.Email" class="control-label"></label>
                        <input asp-for="Funcionario.Email" class="form-control" />
                        <span asp-validation-for="Funcionario.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Criar" class="btn btn-primary" />
                    </div>
                </form>