
* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-image: url(~/images/2iiB.gif);
}

.container {
    display: flex;
    height: 800px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.content-login {
    position: relative;
    bottom: 0px;
    width: 100%;
    max-width: 100%;
    background-color: rgb(255, 255, 255);
    height: 75%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 20px -2px rgba(19, 113, 235, 0.75);
    -webkit-box-shadow: 1px 1px 20px -2px rgba(5, 68, 241, 0.75);
    -moz-box-shadow: 1px 1px 20px -2px rgba(0, 60, 255, 0.75);
}

.funcao {
    text-align: center;
}

#categorias {
    border: none;
    border-style: none;
    border: 1px solid #0169fd;
    color: #0169fd;
    position: relative;
    bottom: 0px;
    outline: 0;
    cursor: pointer;
    top: 10px;
}

.form-control {
    height: 30px;
    position: relative;
    top: 10px;
}

.foto-label {
    position: relative;
    bottom: 0px;
}

.control-label {
    position: relative;
    top: 20px;
}

.foto {
    border: none;
    border-style: none;
    color: #0169fd;
}

.content-login .content-left {
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 50%;
    border-radius: 30px 0 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-login .content-right {
    background-color: blue;
    height: 100%;
    width: 80%;
    border-radius: 0 30px 30px 0;
}

    .content-login .content-right img {
        max-width: 100%;
        height: 100%;
        border-radius: 0 30px 30px 0;
    }

.content-form-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 80%;
}

.logo {
    position: relative;
    right: 123px;
    bottom: 100px;
}

.text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    width: 400px;
    top: 20px;
}

    .text-content h1 {
        color: #3b3b3b;
        font-size: 30px;
        font-weight: 900;
        bottom: 30px;
        position: relative;
    }

    .text-content p {
        color: #000000;
        position: relative;
        bottom: 30px;
    }

    .text-content img {
        height: 60px;
    }

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 20px;
}

#conta {
    position: relative;
    bottom: 20px;
}

#FormCadastro label {
    position: relative;
    right: 120px;
    color: black;
    font-weight: 600;
}

#FormCadastro #senha_label {
    position: relative;
    right: 127px;
}

#FormCadastro input {
    outline: 0;
    border-style: none;
    background-color: white;
    border-bottom: 2px solid #0169fd;
    width: 300px;
}

#LoginCadastroFunc {
    position: relative;
    bottom: 25px;
}

.btn-login {
    border: 2px solid #0169fd;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 40px;
    border-radius: 8px;
    color: white;
    width: 250px;
    background-color: #0169fd;
    text-align: center;
    transition: ease 0.5s;
    cursor: pointer;
    bottom: 40px;
}

.btn-funcionario {
    border: 2px solid #0169fd;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 20px;
    height: 40px;
    cursor: pointer;
    border-radius: 8px;
    width: 250px;
    background-color: white;
    text-align: center;
    transition: ease 0.5s;
}

    .btn-funcionario a {
        width: 500px;
        color: #0169fd;
        font-size: 15px;
        text-decoration: none;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }

.btn-login a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    width: 500px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-login:hover {
    background-color: white;
    color: #0169fd;
    border: 2px solid #0169fd;
}

.btn-funcionario a:hover {
    color: white;
}

.btn-login a:hover {
    color: #0169fd;
}

.btn-funcionario:hover {
    background-color: #0169fd;
    color: #ffffff;
    border: 2px solid white;
}

.position-button {
    position: relative;
    top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.funcionario-link a {
    color: #0169fd;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px 8px 16px;
    gap: 8px;
    height: 40px;
    width: 128px;
    border: none;
    background: #056bfa27;
    border-radius: 20px;
    cursor: pointer;
}

.lable {
    margin-top: 1px;
    font-size: 19px;
    line-height: 22px;
    color: #056DFA;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.button:hover {
    background: #056bfa49;
}

    .button:hover .svg-icon {
        animation: spin 1s linear infinite;
    }

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-8deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(8deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


.button > i {
    font-size: 20px;
    color: #056DFA;
}

@media only screen and (min-width:300px) and (max-width: 1020px) {
    .content-right {
        display: none;
    }

    .content-left {
        display: flex;
        align-items: center;
    }
}
