* {
    margin: 0;
    padding: 0;
}



header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10vh;
}


.logo_bne img {
    width: 190px;
    margin-left: 20px;
}

.logo_bne {
    width: 200px
}

.icon_menu img {
    width: 70px;
    cursor: pointer;
}

.icon_menu {
    margin-left: 140vh;
}

.control-label, .modal-title {
    color: black;
}

body {
    background: linear-gradient(to right, #046de1, #869cdd);
}

.content {
    display: flex;
    justify-content: space-around;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: white;
    width: 500px;
    height: 560px;
    border-radius: 20px;
}

.titulo_menu p {
    margin-top: 10px;
    font-size: 40px;
    margin-bottom: 10vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.menu label {
    font-size: 30px;
    text-align: left;
}




.menu input {
    width: 90%;
    height: 50px;
    border: 2px solid #046DE1;
    border-radius: 10px;
    margin-left: 3vh
}

.link_sou_func {
    margin-top: 10px;
    font-size: 25px;
}

.Login_input button {
    margin-left: 20vh;
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 30px;
    background-color: #046DE1;
    width: 120px;
    border-radius: 10px;
    height: 50px;
}

.subtitulo {
    font-size: 55px;
}


.titulo {
    font-family: Agrandir-regular;
    font-size: 75px;
    color: white;
    text-align: center;
}


.side-menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow-y: auto;
    transition: right 0.3s ease-in-out;
}

    .side-menu a {
        display: block;
        padding: 15px;
        text-decoration: none;
        color: #333;
        font-size: 18px;
    }

        .side-menu a:hover {
            background-color: #f0f0f0;
        }



@media only screen and (max-width: 767px) {

    header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    .icon_menu {
        margin-right: 0px;
    }


    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu {
        margin-top: 50px;
        margin-bottom: 50px;
        height: 500px;
    }

    .titulo_menu p {
        margin-bottom: 70px;
    }

    .Login_input a {
        margin-top: 50px;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
    header {
        width: 100%
    }

    .Login_input a {
        margin-top: 50px;
    }

    body {
        width: 100%;
    }

    .left img {
        width: 400px;
    }

    .left .titulo {
        font-size: 70px;
        width: 400px;
    }

    .menu {
        margin-left: 50px;
        width: 370px;
        height: 560px;
        margin-right: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    header {
        width: 100%;
    }
}

.body-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.TableContainer {
    margin-top: 10vh;
    margin-left: 15vh;
    height: 500px;
    width: 80%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 12px -3px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 1px 12px -3px rgba(0,0,0,1);
    -moz-box-shadow: 0px 1px 12px -3px rgba(0,0,0,1);
    border-radius: 0px 0px 33px 32px;
    -webkit-border-radius: 0px 0px 33px 32px;
    -moz-border-radius: 0px 0px 33px 32px;
    display: flex;
    flex-direction: column;
}

#table-position {
    position: relative;
    bottom: 1px;
}

.tr-style {
    background-color: #007BFF;
    color: white;
    text-align: center;
    width: 80%;
}

    .tr-style th {
        border-left: 2px solid white;
        border-right: 2px solid white;
    }

.tbody-style {
    font-size: 20px;
    text-align: center;
    font-family: Questrial;
}

.table-menu {
    background-color: #0b3057;
    height: 80px;
    width: 100%;
}

.table-menu {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

    .table-menu h3 {
        font-family: Questrial;
        font-weight: 100;
        font-size: 20px;
    }

    .table-menu a {
        text-decoration: none;
        color: white;
        margin-right: 10px;
    }

    .table-menu input {
        border-style: none;
        outline: 0;
        border-radius: 5px;
        width: 300px;
    }

::-webkit-input-placeholder {
    position: relative;
    left: 10px;
    color: #000000;
    opacity: 40%;
}

.table-menu > i {
    color: white;
    font-size: 20px;
    margin-right: 10px;
    margin-bottom: 2px;
}

.button-add button {
    width: 131px;
    color: #007BFF;
    background-color: white;
    font-family: Questrial;
    border: 1px solid white;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    transition: ease 0.5s;
}

    .button-add button:hover {
        background-color: #007BFF;
        color: white;
    }

.pagination {
    margin-top: 80px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
