@model HD_SUPPORT.Models.CadastroUser

@{
    ViewData["Title"] = "NovoCadastro";
}

<h1>NovoCadastro</h1>

<h4>CadastroUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NovoCadastro">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telegram" class="control-label"></label>
                <input asp-for="Telegram" class="form-control" />
                <span asp-validation-for="Telegram" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone" class="control-label"></label>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <input asp-for="Categoria" class="form-control" />
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPatrimonio" class="control-label"></label>
                <input asp-for="IdPatrimonio" class="form-control" />
                <span asp-validation-for="IdPatrimonio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Processador" class="control-label"></label>
                <input asp-for="Processador" class="form-control" />
                <span asp-validation-for="Processador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SistemaOperacional" class="control-label"></label>
                <input asp-for="SistemaOperacional" class="form-control" />
                <span asp-validation-for="SistemaOperacional" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeadSet" class="control-label"></label>
                <input asp-for="HeadSet" class="form-control" />
                <span asp-validation-for="HeadSet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DtEmprestimoInicio" class="control-label"></label>
                <input asp-for="DtEmprestimoInicio" class="form-control" />
                <span asp-validation-for="DtEmprestimoInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DtEmprestimoFinal" class="control-label"></label>
                <input asp-for="DtEmprestimoFinal" class="form-control" />
                <span asp-validation-for="DtEmprestimoFinal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

